/* Cover */
.wp-block-cover h1,
.wp-block-cover h2,
.wp-block-cover h3,
.wp-block-cover h4,
.wp-block-cover h5,
.wp-block-cover h6,
.wp-block-cover a,
.wp-block-cover .project-dates {
    @apply !text-dark-green;
}

.wp-block-cover .wp-block-navigation-item a {
    @apply !text-dark-green hover:!bg-dark-green hover:!text-white;
}

.wp-block-cover--community {
    background-color: #ffdfaf !important;
}

.wp-block-cover--community .wp-block-navigation-item a {
    background-color: #ffdfaf !important;
}

.wp-block-cover--community .wp-block-cover__image-background {
    height: 35% !important;
    left: 50% !important;
    object-fit: contain !important;
    min-height: 430px;
    min-width: 600px;
    top: 10% !important;
    transform: translateX(-50%);
    width: 35% !important;
}

.wp-block-cover--culture {
    background-color: #def0c1 !important;
}

.wp-block-cover--culture .wp-block-navigation-item a {
    background-color: #def0c1 !important;
}

.wp-block-cover--culture .wp-block-cover__image-background {
    height: 34% !important;
    left: 50% !important;
    object-fit: contain !important;
    min-height: 420px;
    min-width: 580px;
    top: 10% !important;
    transform: translateX(-50%);
    width: 34% !important;
}

.wp-block-cover--economy {
    background-color: #d8ede1 !important;
}

.wp-block-cover--economy .wp-block-navigation-item a {
    background-color: #d8ede1 !important;
}

.wp-block-cover--economy .wp-block-cover__image-background {
    height: 35% !important;
    left: 50% !important;
    object-fit: contain !important;
    min-height: 430px;
    min-width: 600px;
    transform: translateX(-50%);
    top: 10% !important;
    width: 35% !important;
}

.wp-block-cover--energy {
    background-color: #ffdfaf !important;
}

.wp-block-cover--energy .wp-block-navigation-item a {
    background-color: #ffdfaf !important;
}

.wp-block-cover--energy .wp-block-cover__image-background {
    height: 40% !important;
    left: 50% !important;
    object-fit: contain !important;
    min-height: 495px;
    min-width: 690px;
    top: 10% !important;
    transform: translateX(-50%);
    width: 40% !important;
}

.wp-block-cover--liberation {
    background-color: #ffdfd9 !important;
}

.wp-block-cover--liberation .wp-block-navigation-item a {
    background-color: #ffdfd9 !important;
}

.wp-block-cover--liberation .wp-block-cover__image-background {
    height: 36% !important;
    left: 50% !important;
    object-fit: contain !important;
    top: 10% !important;
    min-height: 425px;
    min-width: 620px;
    transform: translateX(-50%);
    width: 36% !important;
}