/* Download Link Block */

.post-download-link-block {
    @apply text-center mb-16
}

.post-download-link-container {
    @apply inline relative hover:text-white;
}

.post-download-link-container::after {
    @apply absolute;
    content: '↓';
    right: 1rem;
    top: -1px;
}

.post-download-link-container:hover .post-download-link {
    @apply !bg-dark-green;
}

.project-header .post-download-link-container {
    @apply inline;
}

.post-download-link {
    @apply relative hidden md:inline !pr-8;
    appearance: none;
    cursor: pointer;
}
