/* Download Link Block */

.post-download-link-block {
    @apply mb-16 text-center;
}

.post-download-link-block h2 {
    @apply text-4xl mb-8;
}

.post-download-link-block a {
    @apply inline-block !mr-2 !pr-6 relative;
}

.post-download-link-block a:last-child {
    @apply !mr-2;
}

.post-download-link-block a::after {
    content: "↓";
    position: absolute;
    top: 0.35rem;
    right: 0.6rem;
}

/* Download Link in Project Header */
.post-download-link-container {
    @apply inline;
}
