/* Font */

@font-face {
    font-family: "pp-mori";
    font-style: normal;
    src: url("./assets/fonts/pp-mori_normal_400.otf");
}
@font-face {
    font-family: "pp-mori";
    font-style: italic;
    src: url("./assets/fonts/pp-mori_italic_400.otf");
}
@font-face {
    font-family: "pp-mori";
    font-style: normal;
    font-weight: bold;
    src: url("./assets/fonts/pp-mori_normal_600.otf");
}
@font-face {
    font-family: "pp-mori";
    font-style: italic;
    font-weight: bold;
    src: url("./assets/fonts/pp-mori_italic_600.otf");
}

@font-face {
    font-family: "Styrene B Web";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/StyreneB-Regular-Web.woff2");
}
@font-face {
    font-family: "Styrene B Web";
    font-style: italic;
    src: url("./assets/fonts/StyreneB-Regular-Web.woff2");
}
@font-face {
    font-family: "Styrene B Web";
    font-style: black;
    font-weight: 900;
    src: url("./assets/fonts/StyreneB-Black-Web.woff2");
}