/* Gravity Forms */
.gform_wrapper > form {
    @apply flex flex-col md:flex-row gap-4 mt-4 md:items-end;
}

.gform_body {
    @apply grow md:max-w-input;
}

.gform_fields input {
    @apply border border-dark-green rounded-full green-shadow;
    background-color: var(--wp--preset--color--custom-cream);
}

.gform_footer {
    @apply !m-0 !p-0;
}

.gform_button {
    @apply btn-inverse w-full md:w-auto !mb-0;
    cursor: pointer;
}


.gform_button:hover {
    @apply bg-dark-green text-white;
    box-shadow: 0 0 50px 10px #FFEF56, 0 4px 10px 0 rgb(24 85 0 / 40%);
}

.gform_confirmation_message {
    margin-bottom: 4rem;
}