input[type=checkbox] {
    accent-color: theme('colors.dark-green');
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url("/app/themes/platformlondon/assets/img/expand-more.svg");
    background-repeat: no-repeat;
    background-position: right 12px top 16px;
    padding-right: 2rem;
}

select:hover,
select:focus {
    background-image: url("/app/themes/platformlondon/assets/img/expand-more-inverse.svg");
}


.wp-block-navigation__responsive-container.is-menu-open.has-modal-open .wp-block-search input:hover,
.wp-block-navigation__responsive-container.is-menu-open.has-modal-open .wp-block-search input:focus {
    box-shadow: none;
}