/* Platform Stacked Cards */
.platform-stack {
    @apply relative;
}

.platform-stack .wp-block-query {
    box-sizing: border-box;
    display: block;
    max-width: 1500px !important;
    padding: 100px 0 200px;
    position: relative;
    overflow: hidden;
}

@media screen and (min-width: 1500px) {
    .platform-stack .wp-block-query {
        overflow: visible;
    }
}

.platform-stack .wp-block-post.type-pl_project {
    position: absolute;
    top: 60px;
    min-width: 400px !important;
    width: 400px !important;
}

.platform-stack .wp-block-post.type-pl_project {
    @apply hover:!z-60;
}

.platform-stack .wp-block-post.type-pl_project:first-child {
    position: relative;
    left: 50px;
    top: 0;
    transform: rotate(-30deg);
    @apply z-30;
}

.platform-stack .wp-block-post.type-pl_project:nth-child(2) {
    left: 200px;
    transform: rotate(20deg);
    @apply z-40;
}


@screen md {
    .platform-stack .wp-block-post.type-pl_project:nth-child(3) {
        left: 350px;
        display: block;
        @apply z-50;
    }

    .platform-stack .wp-block-post.type-pl_project:nth-child(4) {
        left: 500px;
        display: block;
        transform: rotate(5deg);
        @apply z-40;
    }

    .platform-stack .wp-block-post.type-pl_project:nth-child(5) {
        left: 650px;
        display: block;
        transform: rotate(-10deg);
        @apply z-30;
    }
}

@screen lg {
    .platform-stack .wp-block-post.type-pl_project {
        top: 100px;
    }

    .platform-stack .wp-block-post.type-pl_project:first-child {
        left: 50px;
    }

    .platform-stack .wp-block-post.type-pl_project:nth-child(2) {
        left: calc(25% - 200px);
    }

    .platform-stack .wp-block-post.type-pl_project:nth-child(3) {
        left: calc(50% - 200px);
    }

    .platform-stack .wp-block-post.type-pl_project:nth-child(4) {
        left: calc(75% - 200px);
    }

    .platform-stack .wp-block-post.type-pl_project:nth-child(5) {
        left: initial;
        right: 0;
    }

    .platform-stack .wp-block-post.type-pl_project h2 {
        font-size: 2.25rem !important;
    }
}

.platform-stack .wp-block-post-featured-image {
    @apply !mb-0;
}

.platform-stack .banner-link .wp-block-column:nth-child(2) p {
    @apply absolute z-40;
    left: 1rem;
    bottom: 3rem;
}

.platform-stack .banner-link .wp-block-column:nth-child(2) a {
    @apply inline;
}

@screen md {
    .platform-stack .banner-link .wp-block-column:nth-child(2) p {
        @apply static text-right;
    }
}