/* Platform Stacked Cards */
.platform-stack {
    @apply relative;
}

.platform-stack .wp-block-query {
    box-sizing: border-box;
    display: block;
    padding: 200px 0 200px;
    position: relative;
    overflow: hidden;
}

.platform-stack .wp-block-post-template {
    flex-wrap: nowrap;
    transition: transform 1.5s;
}

.platform-stack .wp-block-post.type-pl_project {
    min-width: 400px !important;
    position: relative;
    width: 400px !important;
    @apply hover:!z-60;
}

.platform-stack .wp-block-post.type-pl_project:first-child {
    transform: rotate(-30deg);
    z-index: 30;
}

.platform-stack .wp-block-post.type-pl_project:nth-child(2) {
    transform: rotate(20deg);
    left: -100px;
    top: -100px;
    z-index: 40;
}

.platform-stack .wp-block-post.type-pl_project:nth-child(3) {
    left: -200px;
    z-index: 50;
}

.platform-stack .wp-block-post.type-pl_project:nth-child(4) {
    left: -250px;
    top: -100px;
    transform: rotate(5deg);
    z-index: 60;
}

.platform-stack .wp-block-post.type-pl_project:nth-child(5) {
    left: -350px;
    transform: rotate(-10deg);
    z-index: 70;
}

.platform-stack .wp-block-post-featured-image {
    @apply !mb-0;
}

.platform-stack .banner-link .wp-block-column:nth-child(2) p {
    @apply absolute z-40;
    left: 1rem;
    bottom: 3rem;
}

.platform-stack .banner-link .wp-block-column:nth-child(2) a {
    @apply inline;
}

@screen md {
    .platform-stack .banner-link .wp-block-column:nth-child(2) p {
        @apply static text-right;
    }
}

.platform-stack__nav {
    margin-top: 0;
    position: absolute;
    top: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.platform-stack button {
    height: 52px;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--Dark-Green, #185500);
    background: var(--Cream, #FFF7E5);
    box-shadow: 0px 2.19753px 5.49383px 0px rgba(24, 85, 0, 0.15);
}