/* Platform Strapline (big text that appears first on home page, bottom of other pages) */

.platform-strapline {
    @apply my-16 md:pt-16 border-dark-green md:border-t md:mx-4;
}

.home .platform-strapline {
    @apply mt-0 border-t-0 md:pt-8 md:-mt-8;
}

.platform-strapline > .wp-block-columns {
    @apply md:px-0;
}

.platform-strapline > .wp-block-columns > .wp-block-column:last-child {
    /* Correct row height to center illustration */
    height: 50vw;
    position: relative;
}

@screen md {
    .platform-strapline > .wp-block-columns > .wp-block-column:last-child {
        height: 33vw;
    }
}

.home .platform-strapline > .wp-block-columns > .wp-block-column:last-child {
    /* Don't correct height on the home page */
    height: auto !important;
}

.platform-strapline .wp-block-heading {
    @apply relative lg:w-[calc(100%+5rem)] z-20 break-normal !text-4xl md:!text-5xl lg:!text-6xl;
}

.platform-strapline em {
    @apply btn-default font-normal text-lg not-italic normal-case inline-block mr-2;
    padding-bottom: 0.25rem !important;
    padding-top: 0.25rem !important;
}

@screen md {
    .platform-strapline em {
        padding-bottom: 0.5rem !important;
        padding-top: 0.5rem !important;
    }
}

.platform-illustration {
    @apply z-10;
    height: calc(100vw - 2rem - 1px);
    margin: -25vw 0;
    position: relative;
    width: calc(100vw - 2rem - 1px);
}

@media screen and (min-width: 782px) {
    .platform-illustration {
        height: 50vw;
        left: 50%;
        margin: 0;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 33%;
        width: 50vw;
    }
}

.platform-illustration svg {
    position: absolute;
    transform: translateY(0);
    transition: all 0.5s ease-in;
}

.platform-illustration #community-svg {
    bottom: 29%;
    left: 0%;
    width: 46%;
}

.platform-illustration #economy-svg {
    bottom: 31%;
    left: 33%;
    width: 58%;
}

.platform-illustration #liberation-svg {
    bottom: 32%;
    left: 28%;
    width: 40%;
}

.platform-illustration #culture-svg {
    bottom: 12%;
    left: 18%;
    width: 40%;
}

.platform-illustration #energy-svg {
    bottom: 18%;
    right: 0%;
    width: 62%;
}

.platform-illustration g {
    opacity: 0;
    transition: all 0.5s ease-in;
}

.platform-illustration g[id$=base] {
    opacity: 1;
}

.platform-strapline hr {
    @apply mx-4 mb-4;
}