/* Post Filter on Blog/Resources/Projects Page */


.post-filter__categories {
    @apply flex;
    overflow-x: scroll; /* Enable horizontal scrolling */
    margin: -48px 0px -48px 0px; /* Add extra padding to avoid cropping box shadow */
    padding: 48px 20px 48px 20px;
}

/* Remove negative margin on second lot of filter buttons */
.post-filter__categories:nth-of-type(2) {
    margin-bottom: 0;
}

/* Hide scrollbar */

/* For Webkit-based browsers */
::-webkit-scrollbar {
    width: 0;
  }
  
  /* For Firefox */
  scrollbar {
    width: 0;
    display: none; /* This hides the track */
  }


@media only screen and (max-width: 600px){
  .post-filter__categories {
    row-gap: 15px;
  }
}

.post-filter__categories li {
    @apply block;

}

.post-filter__categories li:not(:last-child) {
    @apply mr-2;
} 

.post-filter__categories .energy {
    @apply bg-orange !border-0;;
}

.post-filter__categories .community {
    @apply bg-yellow !border-0;;
}

.post-filter__categories .culture {
    @apply bg-light-green !border-0;;
}

.post-filter__categories .economy {
    @apply bg-teal !border-0;;
}

.post-filter__categories .liberation {
    @apply bg-pink !border-0;;
}

.post-filter__categories .active {
    @apply !bg-dark-green !text-white;
}