/* Post Details Block (used in Query Loop Post Templates) */
.post-details {
    @apply flex uppercase text-sm;
    margin-top: 10px;
}

.post-details>* {
    @apply truncate;
}

.post-details>*:not(:last-child) {
    @apply mr-4;
}

.post-details a {
    text-decoration: none;
}

[rel="tag"] {
    font-size: 14px;
    font-family: "styrene-b-trial";
    @apply ml-2;
}