/* SVG */

text {
    @apply normal-case text-dark-green;
    font-size: 0.5rem;
}

.wp-block-navigation__responsive-container-open svg, .wp-block-navigation__responsive-container-close svg  {
    width: 31.5px;
    height: 22px;
}

.custom-logo-link img{
    width: 63px;
    height: 64px;
}

@media screen and (max-width: 600px) {
    .wp-block-site-logo {
        width: 63px;
        height: 64px;
    }
}