<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:template-part {"slug":"platform-strapline"} /-->

<!-- wp:group {"className":"platform-stack","layout":{"type":"default"}} -->
<div class="wp-block-group platform-stack"><!-- wp:columns {"className":"banner-link"} -->
<div class="wp-block-columns banner-link"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"style":{"typography":{"lineHeight":"1"},"spacing":{"margin":{"top":"0","right":"0","bottom":"var:preset|spacing|30","left":"0"}}},"fontSize":"x-large"} -->
<h2 class="wp-block-heading has-x-large-font-size" style="margin-top:0;margin-right:0;margin-bottom:var(--wp--preset--spacing--30);margin-left:0;line-height:1">Highlights</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Explore highlighted projects, browse the index or visit the timeline.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph -->
<p><a href="http://localhost:8082/projects/" data-type="page">Browse the index →</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:query {"queryId":20,"query":{"perPage":"5","pages":"1","offset":0,"postType":"pl_project","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]},"displayLayout":{"type":"flex","columns":3}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:carbon-fields/project-dates /-->

<!-- wp:post-title {"isLink":true} /-->

<!-- wp:post-featured-image {"isLink":true,"align":"wide"} /-->

<!-- wp:read-more {"content":"View project →\u003ca role=\u0022document\u0022 aria-multiline=\u0022true\u0022 aria-label=\u0022Block: Read More\u0022 tabindex=\u00220\u0022 class=\u0022block-editor-rich-text__editable block-editor-block-list__block wp-block is-selected remove-outline wp-block-read-more rich-text\u0022 id=\u0022block-f574ec38-8999-44bc-9347-b87f422a40d6\u0022 data-block=\u0022f574ec38-8999-44bc-9347-b87f422a40d6\u0022 data-title=\u0022Read More\u0022 style=\u0022background-color: initial; color: var(\u002d\u002dwp\u002d\u002dpreset\u002d\u002dcolor\u002d\u002dcustom-dark-green); min-width: 1px; display: inline !important;\u0022 data-type=\u0022core/read-more\u0022\u003e\u003c/a\u003e"} /-->

<!-- wp:post-terms {"term":"category"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"our-history"} /-->

<!-- wp:columns {"className":"banner-link"} -->
<div class="wp-block-columns banner-link"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|30"}},"typography":{"lineHeight":"1.5"}},"fontSize":"x-large"} -->
<h2 class="wp-block-heading has-x-large-font-size" style="margin-bottom:var(--wp--preset--spacing--30);line-height:1.5">Blog</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Explore highlighted projects, browse the index or visit the timeline.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph -->
<p><a href="http://localhost:8082/blog/" data-type="page">View all blogposts →</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:query {"queryId":14,"query":{"perPage":"8","pages":"0","offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"flex","columns":3}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"66.66%"} -->
<div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:post-featured-image {"isLink":true} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:post-title {"isLink":true} /-->

<!-- wp:post-excerpt /-->

<!-- wp:carbon-fields/post-details /-->

<!-- wp:post-terms {"term":"category"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->