<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:post-title {"textAlign":"center","level":1} /-->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity"/>
<!-- /wp:separator -->

<!-- wp:post-content {"className":"platform-about","layout":{"type":"constrained"}} /-->

<!-- wp:separator {"style":{"spacing":{"margin":{"top":"0"}}}} -->
<hr class="wp-block-separator has-alpha-channel-opacity" style="margin-top:0"/>
<!-- /wp:separator -->

<!-- wp:template-part {"slug":"platform-strapline"} /-->

<!-- wp:template-part {"slug":"footer"} /-->