<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:carbon-fields/project-header {"data":{"crb_separator":"","background_image":"http://localhost:8082/app/uploads/2023/06/project_title_background.png"}} /-->

<!-- wp:group {"className":"relative","layout":{"type":"default"}} -->
<div class="wp-block-group relative"><!-- wp:carbon-fields/background-images /-->

<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

<!-- wp:group {"className":"relative","layout":{"type":"constrained"}} -->
<div class="wp-block-group relative"><!-- wp:carbon-fields/project-download-link /-->

<!-- wp:carbon-fields/project-details /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"related-content","area":"uncategorized"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->