<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:carbon-fields/post-header {"data":{"crb_separator":"","full_width_image":418}} /-->

<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:carbon-fields/post-download-link /-->

<!-- wp:carbon-fields/post-details-footer /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"related-content","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"platform-strapline","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->